html {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1rems;
    margin-left: 3rem;
}

p, ul, li {
    max-width: 700px;
}

.title {
    margin-bottom: 0px;
    max-width: 1200px;

}
.under-title{
    max-width: 1200px;
    margin-top: 10px;
    font-size: 1rem;
    color: #7d827e;
}

.img {
    height: 432px;
    width: 700px;
    margin-top: 1rem;
}

.img-caption{
    color: #7d827e;
}

.sec {
    width: 100%;
    background-color: blue;
    padding: 0%;
    margin: 0;
}

footer {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #3a3a3a;
}

.footer-text{
    padding: 0.5rem;
    color: white;
}