html, body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1rems;
    max-width: 100%;
}


p, ul, li {
    max-width: 700px;
}

nav{
    background-color: #3a3a3a;
    padding: 15px;

}


.nav-text {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav-text:hover {
    background-color: white;
    color:#3a3a3a;
}

.nav-text-active {
    background-color: white;
    color:#3a3a3a;
}

.title {
    margin-bottom: 0px;
    max-width: 1200px;
}

.under-title{
    max-width: 1200px;
    margin-top: 10px;
    font-size: 1rem;
    color: #7d827e;
}

.main-text {
    margin-left: 10;
}

.img {
    height: 432px;
    width: 700px;
    margin-top: 1rem;
}

.img-caption{
    color: #7d827e;
}

.sec {
    width: 100%;
    background-color: blue;
    padding: 0%;
    margin: 0;
}

footer {
    padding: 15px;
    margin: 0px;
    background-color: #3a3a3a;
    width: 100%;
    padding: 0.5rem;
    color: white;
}